<app-navbar></app-navbar>

<body class="text-center">
    <form class="form-signin" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="../../../assets/images/NoteS.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
        <label for="inputEmail" class="sr-only">Email address or username</label>
        <input [(ngModel)]="userLogin.username" [(ngModel)]="userLogin.email" name="username" id="inputEmail " class="form-control " placeholder="Email address " required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="userLogin.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3 ">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
        </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block " type="submit ">Sign in</button>
        <p class="mt-5 mb-3 text-muted ">&copy; 2020-2020</p>
    </form>
</body>